## 13.1 Interfacing Between Pandas and Model Code

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame({
    'x0': [1, 2, 3, 4, 5],
    'x1': [0.01, -0.01, 0.25, -4.1, 0.],
    'y': [-1.5, 0., 3.6, 1.3, -2.]}
)

In [3]:
data

   x0    x1    y
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [4]:
data.columns

Index(['x0', 'x1', 'y'], dtype='object')

In [5]:
data.values

array([[ 1.  ,  0.01, -1.5 ],
       [ 2.  , -0.01,  0.  ],
       [ 3.  ,  0.25,  3.6 ],
       [ 4.  , -4.1 ,  1.3 ],
       [ 5.  ,  0.  , -2.  ]])

In [6]:
df2 = pd.DataFrame(data.values, columns=['one', 'two', 'three'])

In [7]:
df2

   one   two  three
0  1.0  0.01   -1.5
1  2.0 -0.01    0.0
2  3.0  0.25    3.6
3  4.0 -4.10    1.3
4  5.0  0.00   -2.0

In [8]:
df3 = data.copy()

In [9]:
df3['strings'] = ['a', 'b', 'c', 'd', 'e']

In [10]:
df3

   x0    x1    y strings
0   1  0.01 -1.5       a
1   2 -0.01  0.0       b
2   3  0.25  3.6       c
3   4 -4.10  1.3       d
4   5  0.00 -2.0       e

In [11]:
df3.values

array([[1, 0.01, -1.5, 'a'],
       [2, -0.01, 0.0, 'b'],
       [3, 0.25, 3.6, 'c'],
       [4, -4.1, 1.3, 'd'],
       [5, 0.0, -2.0, 'e']], dtype=object)

In [12]:
model_cols = ['x0', 'x1']

In [13]:
data.loc[:, model_cols].values

array([[ 1.  ,  0.01],
       [ 2.  , -0.01],
       [ 3.  ,  0.25],
       [ 4.  , -4.1 ],
       [ 5.  ,  0.  ]])

In [14]:
data['category'] = pd.Categorical(['a', 'b', 'a', 'a', 'b'],
                                  categories=['a', 'b'])

In [15]:
data

   x0    x1    y category
0   1  0.01 -1.5        a
1   2 -0.01  0.0        b
2   3  0.25  3.6        a
3   4 -4.10  1.3        a
4   5  0.00 -2.0        b

In [16]:
dummies = pd.get_dummies(data.category, prefix='category')

In [17]:
data_with_dummies = data.drop('category', axis=1).join(dummies)

In [18]:
data_with_dummies

   x0    x1    y  category_a  category_b
0   1  0.01 -1.5           1           0
1   2 -0.01  0.0           0           1
2   3  0.25  3.6           1           0
3   4 -4.10  1.3           1           0
4   5  0.00 -2.0           0           1

## 13.2 Creating Model Descriptions with Patsy

In [19]:
data = pd.DataFrame({
    'x0': [1, 2, 3, 4, 5],
    'x1': [0.01, -0.01, 0.25, -4.1, 0.],
    'y': [-1.5, 0., 3.6, 1.3, -2.]}
)

In [20]:
data

   x0    x1    y
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [21]:
import patsy

In [22]:
y, X = patsy.dmatrices('y ~ x0 + x1', data)

In [23]:
y

DesignMatrix with shape (5, 1)
     y
  -1.5
   0.0
   3.6
   1.3
  -2.0
  Terms:
    'y' (column 0)

In [24]:
X

DesignMatrix with shape (5, 3)
  Intercept  x0     x1
          1   1   0.01
          1   2  -0.01
          1   3   0.25
          1   4  -4.10
          1   5   0.00
  Terms:
    'Intercept' (column 0)
    'x0' (column 1)
    'x1' (column 2)

In [25]:
np.asarray(y)

array([[-1.5],
       [ 0. ],
       [ 3.6],
       [ 1.3],
       [-2. ]])

In [26]:
np.asarray(X)

array([[ 1.  ,  1.  ,  0.01],
       [ 1.  ,  2.  , -0.01],
       [ 1.  ,  3.  ,  0.25],
       [ 1.  ,  4.  , -4.1 ],
       [ 1.  ,  5.  ,  0.  ]])

In [28]:
patsy.dmatrices('y ~ x0 + x1 + 0', data)[1]

DesignMatrix with shape (5, 2)
  x0     x1
   1   0.01
   2  -0.01
   3   0.25
   4  -4.10
   5   0.00
  Terms:
    'x0' (column 0)
    'x1' (column 1)

In [30]:
coef, resid, _, _ = np.linalg.lstsq(X, y, rcond=None)

In [31]:
coef

array([[ 0.31290976],
       [-0.07910564],
       [-0.26546384]])

In [32]:
coef = pd.Series(coef.squeeze(), index=X.design_info.column_names)

In [33]:
coef

Intercept    0.312910
x0          -0.079106
x1          -0.265464
dtype: float64

### Data Transformation in Patsy Formulas

In [34]:
y, X = patsy.dmatrices('y ~ x0 + np.log(np.abs(x1) + 1)', data)

In [35]:
X

DesignMatrix with shape (5, 3)
  Intercept  x0  np.log(np.abs(x1) + 1)
          1   1                 0.00995
          1   2                 0.00995
          1   3                 0.22314
          1   4                 1.62924
          1   5                 0.00000
  Terms:
    'Intercept' (column 0)
    'x0' (column 1)
    'np.log(np.abs(x1) + 1)' (column 2)

In [36]:
y, X = patsy.dmatrices('y ~ standardize(x0) + center(x1)', data)

In [37]:
X

DesignMatrix with shape (5, 3)
  Intercept  standardize(x0)  center(x1)
          1         -1.41421        0.78
          1         -0.70711        0.76
          1          0.00000        1.02
          1          0.70711       -3.33
          1          1.41421        0.77
  Terms:
    'Intercept' (column 0)
    'standardize(x0)' (column 1)
    'center(x1)' (column 2)

In [38]:
new_data = pd.DataFrame({
    'x0': [6, 7, 8, 9],
    'x1': [3.1, -0.5, 0, 2.3],
    'y': [1, 2, 3, 4]
})

In [39]:
new_X = patsy.build_design_matrices([X.design_info], new_data)

In [40]:
new_X

[DesignMatrix with shape (4, 3)
   Intercept  standardize(x0)  center(x1)
           1          2.12132        3.87
           1          2.82843        0.27
           1          3.53553        0.77
           1          4.24264        3.07
   Terms:
     'Intercept' (column 0)
     'standardize(x0)' (column 1)
     'center(x1)' (column 2)]

In [41]:
y, X = patsy.dmatrices('y ~ I(x0 + x1)', data)

In [42]:
X

DesignMatrix with shape (5, 2)
  Intercept  I(x0 + x1)
          1        1.01
          1        1.99
          1        3.25
          1       -0.10
          1        5.00
  Terms:
    'Intercept' (column 0)
    'I(x0 + x1)' (column 1)

### Categorical Data and Patsy

In [43]:
data = pd.DataFrame({
    'key1': ['a', 'a', 'b', 'b', 'a', 'b', 'a', 'b'],
    'key2': [0, 1, 0, 1, 0, 1, 0, 0],
    'v1': [1, 2, 3, 4, 5, 6, 7, 8],
    'v2': [-1, 0, 2.5, -0.5, 4.0, -1.2, 0.2, -1.7]
})

In [44]:
data

  key1  key2  v1   v2
0    a     0   1 -1.0
1    a     1   2  0.0
2    b     0   3  2.5
3    b     1   4 -0.5
4    a     0   5  4.0
5    b     1   6 -1.2
6    a     0   7  0.2
7    b     0   8 -1.7

In [45]:
y, X = patsy.dmatrices('v2 ~ key1', data)

In [46]:
X

DesignMatrix with shape (8, 2)
  Intercept  key1[T.b]
          1          0
          1          0
          1          1
          1          1
          1          0
          1          1
          1          0
          1          1
  Terms:
    'Intercept' (column 0)
    'key1' (column 1)

In [47]:
y, X = patsy.dmatrices('v2 ~ key1 + 0', data)

In [48]:
X

DesignMatrix with shape (8, 2)
  key1[a]  key1[b]
        1        0
        1        0
        0        1
        0        1
        1        0
        0        1
        1        0
        0        1
  Terms:
    'key1' (columns 0:2)

In [49]:
y, X = patsy.dmatrices('v2 ~ C(key2)', data)

In [50]:
X

DesignMatrix with shape (8, 2)
  Intercept  C(key2)[T.1]
          1             0
          1             1
          1             0
          1             1
          1             0
          1             1
          1             0
          1             0
  Terms:
    'Intercept' (column 0)
    'C(key2)' (column 1)

In [52]:
data['key2'] = data['key2'].map({0: 'zero', 1: 'one'})

In [53]:
data

  key1  key2  v1   v2
0    a  zero   1 -1.0
1    a   one   2  0.0
2    b  zero   3  2.5
3    b   one   4 -0.5
4    a  zero   5  4.0
5    b   one   6 -1.2
6    a  zero   7  0.2
7    b  zero   8 -1.7

In [54]:
y, X = patsy.dmatrices('v2 ~ key1 + key2', data)

In [55]:
X

DesignMatrix with shape (8, 3)
  Intercept  key1[T.b]  key2[T.zero]
          1          0             1
          1          0             0
          1          1             1
          1          1             0
          1          0             1
          1          1             0
          1          0             1
          1          1             1
  Terms:
    'Intercept' (column 0)
    'key1' (column 1)
    'key2' (column 2)

In [56]:
y

DesignMatrix with shape (8, 1)
    v2
  -1.0
   0.0
   2.5
  -0.5
   4.0
  -1.2
   0.2
  -1.7
  Terms:
    'v2' (column 0)

In [57]:
y, X = patsy.dmatrices('v2 ~ key1 + key2 + key1:key2', data)

In [58]:
X

DesignMatrix with shape (8, 4)
  Intercept  key1[T.b]  key2[T.zero]  key1[T.b]:key2[T.zero]
          1          0             1                       0
          1          0             0                       0
          1          1             1                       1
          1          1             0                       0
          1          0             1                       0
          1          1             0                       0
          1          0             1                       0
          1          1             1                       1
  Terms:
    'Intercept' (column 0)
    'key1' (column 1)
    'key2' (column 2)
    'key1:key2' (column 3)

## 13.3 Introduction to statsmodels

### Estimating Linear Models

In [1]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
def dnorm(mean, variance, size=1):
    if isinstance(size, int):
        size = size,
    return mean + np.sqrt(variance) * np.random.randn(*size)

In [4]:
import numpy as np
import pandas as pd
np.random.seed(12345)

In [5]:
N = 100
X = np.c_[dnorm(0, 0.4, size=N),
          dnorm(0, 0.6, size=N),
          dnorm(0, 0.2, size=N)]
eps = dnorm(0, 0.1, size=N)
beta = [0.1, 0.3, 0.5]
y = np.dot(X, beta) + eps

In [6]:
X[:5]

array([[-0.12946849, -1.21275292,  0.50422488],
       [ 0.30291036, -0.43574176, -0.25417986],
       [-0.32852189, -0.02530153,  0.13835097],
       [-0.35147471, -0.71960511, -0.25821463],
       [ 1.2432688 , -0.37379916, -0.52262905]])

In [7]:
y[:5]

array([ 0.42786349, -0.67348041, -0.09087764, -0.48949442, -0.12894109])

In [8]:
X_model = sm.add_constant(X)

In [9]:
X_model[:5]

array([[ 1.        , -0.12946849, -1.21275292,  0.50422488],
       [ 1.        ,  0.30291036, -0.43574176, -0.25417986],
       [ 1.        , -0.32852189, -0.02530153,  0.13835097],
       [ 1.        , -0.35147471, -0.71960511, -0.25821463],
       [ 1.        ,  1.2432688 , -0.37379916, -0.52262905]])

In [10]:
model = sm.OLS(y, X)

In [11]:
results = model.fit()

In [12]:
results.params

array([0.17826108, 0.22303962, 0.50095093])

In [13]:
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.430
Model:                            OLS   Adj. R-squared (uncentered):              0.413
Method:                 Least Squares   F-statistic:                              24.42
Date:                Sun, 10 Apr 2022   Prob (F-statistic):                    7.44e-12
Time:                        21:13:38   Log-Likelihood:                         -34.305
No. Observations:                 100   AIC:                                      74.61
Df Residuals:                      97   BIC:                                      82.42
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.1783      0.053      3.364      0.001       0.073       0.283
x2             0.2230      0.046      4.818      0.000       0.131       0.315
x3             0.5010      0.080      6.237      0.000       0.342       0.660
==============================================================================
Omnibus:                        4.662   Durbin-Watson:                   2.201
Prob(Omnibus):                  0.097   Jarque-Bera (JB):                4.098
Skew:                           0.481   Prob(JB):                        0.129
Kurtosis:                       3.243   Cond. No.                         1.74
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [14]:
data = pd.DataFrame(X, columns=['col0', 'col1', 'col2'])

In [15]:
data

        col0      col1      col2
0  -0.129468 -1.212753  0.504225
1   0.302910 -0.435742 -0.254180
2  -0.328522 -0.025302  0.138351
3  -0.351475 -0.719605 -0.258215
4   1.243269 -0.373799 -0.522629
..       ...       ...       ...
95  0.502962  0.705644 -0.100857
96  0.074699 -0.790788  0.603616
97 -0.473413 -1.094827  0.603872
98  0.369967  1.004348 -0.172917
99  0.096561  0.195412  0.387282

[100 rows x 3 columns]

In [16]:
data['y'] = y

In [17]:
data[:5]

       col0      col1      col2         y
0 -0.129468 -1.212753  0.504225  0.427863
1  0.302910 -0.435742 -0.254180 -0.673480
2 -0.328522 -0.025302  0.138351 -0.090878
3 -0.351475 -0.719605 -0.258215 -0.489494
4  1.243269 -0.373799 -0.522629 -0.128941

In [18]:
results = smf.ols('y ~ col0 + col1 + col2', data=data).fit()

In [19]:
results.params

Intercept    0.033559
col0         0.176149
col1         0.224826
col2         0.514808
dtype: float64

In [20]:
results.tvalues

Intercept    0.952188
col0         3.319754
col1         4.850730
col2         6.303971
dtype: float64

In [21]:
results.predict(data[:5])

0   -0.002327
1   -0.141904
2    0.041226
3   -0.323070
4   -0.100535
dtype: float64

### Estimating Time Series Processes

In [22]:
init_x = 4

import random
values = [init_x, init_x]
N = 1000

b0 = 0.8
b1 = -0.4
noise = dnorm(0, 0.1, N)
for i in range(N):
    new_x = values[-1] * b0 + values[-2] * b1 + noise[i]
    values.append(new_x)

In [23]:
values

[4,
 4,
 1.8977509636904242,
 0.08686526220610424,
 -0.5769469132535335,
 -0.4995023802308947,
 0.27887732380859565,
 0.601921099044195,
 0.5143399251963061,
 0.23230090795613595,
 -0.2270414299565975,
 -0.4532949571877241,
 0.7327960955212159,
 1.070985691452315,
 0.2552405778514706,
 -0.5773466745933833,
 -0.9132080351513938,
 -0.7838390995099828,
 -0.6939551640304977,
 -0.09888273000972089,
 -0.3034477253363709,
 -0.43493326308961244,
 -0.3892865103111405,
 -0.3309481004900743,
 -0.11903625213901042,
 0.11118797731397469,
 0.2225586853898911,
 0.5227752002595569,
 0.736594865340029,
 0.6495328948232221,
 -0.2585809973956484,
 -0.9573733212451723,
 -0.5684539829832487,
 0.03721869341955729,
 0.1312652116183619,
 0.2259141777403416,
 0.03780162008649546,
 -0.7648180294491388,
 -0.6059273357093189,
 -0.02387419489558526,
 0.8139615956084674,
 1.315448874642104,
 0.6491774717435169,
 0.23422352019432813,
 -0.0314938971513281,
 0.07941428955016891,
 -0.2597791282232123,
 -0.7137736446174251,
 -0.2947143719037799,
 0.1764894065051516,
 -0.35637481305796315,
 -0.19599054026722212,
 -0.3021644530970059,
 -0.23280941192000892,
 0.0636566938501768,
 -0.046682206107812985,
 -0.1770085960130648,
 0.05542622070224297,
 -0.2189870807065061,
 0.24281310323048977,
 -0.27511642672471803,
 -0.6055020901644366,
 -0.16616994685366757,
 -0.39020607405105945,
 -0.10095754210704855,
 0.01736193669994897,
 -0.16249647493299813,
 -0.10328541773320485,
 -0.11826483005741993,
 0.08385438749805127,
 0.29521667798743134,
 0.38196626012764767,
 0.21328323844427224,
 -0.0777665942578419,
 -0.37739771633872804,
 -0.21378456554588451,
 -0.18457301186525552,
 0.06374318627767812,
 -0.16513657639825605,
 -0.18374280302572332,
 -0.6943237022484156,
 -0.036714928498514265,
 0.726622464825147,
 0.7624756865660068,
 0.23492062235229597,
 0.15562438130533787,
 0.057032112464277473,
 -0.6087096090766337,
 -0.8142417845451893,
 -0.3825902294899999,
 0.06033140545812305,
 0.04979006129163199,
 -0.18677498654230093,
 0.06656161472878158,
 -0.0689073805493888,
 0.21433012820168407,
 0.43620369053101243,
 0.24529603448362142,
 0.7492925128606548,
 0.6814065082389407,
 0.7164008976111947,
 0.7003491574772843,
 0.03280488689023897,
 -0.358762224368176,
 -0.8539463002456682,
 -0.3407783707383257,
 0.15829075689675892,
 -0.16021288875445977,
 -0.3497923994734585,
 -0.17728122802719706,
 0.5383112931232198,
 0.19450453936328949,
 -0.2555709691479625,
 -0.5120638801263175,
 0.07889864683088288,
 0.42722817021152854,
 -0.1286612415733599,
 -0.209040554575728,
 0.07514040473961708,
 0.3162878105992152,
 0.2974384583896937,
 0.14680097273083864,
 -0.3972948403220842,
 -1.3092205669839097,
 -0.6877695746186626,
 0.012734462938684542,
 0.6956396612131259,
 0.01796275976396189,
 0.08065684200490508,
 0.7090483982611805,
 0.4586906734966019,
 -0.21641032255914616,
 -0.1427415775090531,
 -0.2342384925359708,
 -0.33656804787711964,
 -0.008329069401536077,
 0.24110812356286995,
 0.25587429219948243,
 0.38318994172914,
 0.18817978256723203,
 -0.22926651972041387,
 -0.2913384034157926,
 -0.5021915632901712,
 -0.4435774499015228,
 -0.2770932372683138,
 -0.19408830451057849,
 -0.003746123345894803,
 0.12324082993615221,
 0.24074607970067985,
 0.1839458135949507,
 0.13071517438363917,
 -0.2664622488641798,
 0.05145034745003485,
 -0.018405629214412134,
 -0.31592545778484227,
 0.33373409509525465,
 0.10146995553271182,
 0.1692117940443575,
 -0.18734152716418684,
 0.509999931955207,
 0.2243364626837795,
 0.13793425791598712,
 0.21780832731412716,
 0.5900012221151391,
 0.9985108817492514,
 0.7345948803653328,
 0.3483431729795732,
 0.5104117156724031,
 -0.10706674661942411,
 -0.2602199713519806,
 -0.3358478756703378,
 -0.6191347128016624,
 -0.30153760023945253,
 -0.13602240179359884,
 -0.15165412982534565,
 -0.09715699669477362,
 0.0829980474107388,
 0.29605240744238137,
 -0.2689886127421637,
 -0.36867964014027144,
 -0.11104585783546587,
 -0.125613391428378,
 -0.1323188854184717,
 0.01913401292807767,
 0.10767492081694316,
 0.4093636585118073,
 0.19806173098032095,
 -0.17442544604254082,
 -0.31570887815385107,
 -0.23410255952390108,
 -0.40354659372865276,
 -0.005180029455596563,
 0.6381757882882091,
 0.6044272186248493,
 0.012266920098658152,
 -0.5324726660970167,
 -0.30416929309063745,
 -0.07021373489970587,
 0.1914201714853791,
 0.2260116491591248,
 0.02071239896987377,
 -0.21683675451293485,
 0.05801015282476135,
 -0.029898993847192162,
 -0.23407784575112484,
 0.10827323692465513,
 -0.1269457901192353,
 0.4372492797400325,
 0.44923925820999683,
 0.09781874153301977,
 -0.6658837734991122,
 -0.2616129625241315,
 -0.21923047986521943,
 -0.39191100265223444,
 -0.3558832352684582,
 0.33552792047970037,
 0.09258122435676863,
 -0.3454303602215901,
 -0.07533027351497709,
 -0.07720449027251791,
 -0.19754740371607282,
 -0.34826127204125656,
 -0.08816374348912277,
 0.09030944655729367,
 -0.18668682499564973,
 0.08186557571869968,
 0.14537621502308257,
 0.3507554895023276,
 0.8077389901356427,
 0.5128694841848118,
 -0.3457724321618263,
 -0.201207351214637,
 -0.01812499039156771,
 0.042533171434427024,
 0.025918998935929475,
 0.39427000568559695,
 0.1680285191614829,
 0.4165988477841178,
 0.5254410810028631,
 0.17547115599138416,
 0.02578689525180429,
 0.12246274823026952,
 -0.21034764622337618,
 -0.6177286239748788,
 -0.11365951084605147,
 -0.07155248324794855,
 -0.5158299161042452,
 -0.5027857750850254,
 -0.49906542547200156,
 0.053053194914917806,
 -0.2655109389527102,
 -0.06169375031664101,
 0.349412667875092,
 -0.1605297358917731,
 -0.3945510508538923,
 0.1967741517863466,
 0.03139095794228225,
 0.5297816745578108,
 0.8075555398041467,
 -0.037342465556103877,
 -0.3616664253722024,
 0.16049164157606788,
 0.26508836007873715,
 -0.06332822556327256,
 -1.0636447005675251,
 -0.7589589028152738,
 0.22532500549192147,
 0.3022320657707416,
 0.30829168931341944,
 0.25098240221542945,
 0.26366358222651126,
 -0.2947892889449155,
 0.30062102906562826,
 0.19968374578457881,
 -0.01087161734801164,
 -0.5617159288503912,
 -0.44140401116365413,
 0.004203629489780147,
 0.8285752911026736,
 0.5445649438019033,
 -0.4299673944673848,
 -0.5150990093357362,
 -0.29732896682464655,
 0.018159091903042865,
 0.008038051458770484,
 -0.12739913083887427,
 -0.36598943900229164,
 -0.31913075499504323,
 0.27671746989250917,
 0.21190027623221033,
 0.33116348535137685,
 0.07439132207013213,
 -0.022495047027681438,
 -0.35897270019831745,
 -0.03971753468874878,
 0.0218825123280032,
 0.13610302092153492,
 -0.17986643196783417,
 -0.6033884386865924,
 -0.3487487715060372,
 0.26424134709946334,
 0.09760321137879202,
 -0.02260129384741511,
 0.28679222849224906,
 0.03885779364911873,
 -0.09080565099455377,
 0.12870642226365986,
 0.3034662792942804,
 0.24906586567528066,
 0.14258136481310246,
 -0.06967352563081912,
 -0.11284324142905795,
 0.32954405393496233,
 0.049555815641649736,
 -0.17451517126323213,
 0.0047321003560894526,
 0.1188412998759663,
 0.05628345662651597,
 0.4708022920131214,
 -0.11524031890201675,
 -0.8089875614725872,
 -0.311058223573606,
 -0.16495667597521554,
 0.6454026375277206,
 0.31326502887674595,
 0.15039115122138527,
 -0.03005931625690187,
 -0.5279640091714036,
 0.08895969043116303,
 0.2824700532258445,
 0.4752769903156073,
 0.12339129366626611,
 -0.3647914155034929,
 0.01586941478919135,
 0.17691359432134618,
 -0.0019770999415134882,
 -0.04303355089941337,
 -0.4756655425017814,
 0.09768498623540484,
 0.21251876142010892,
 0.050543172478348886,
 -0.4441069834546722,
 -0.2324848194530115,
 -0.2740135136967602,
 -0.2851776465495841,
 0.043812279084692915,
 0.668257144153728,
 0.7007427393660057,
 -0.2466170653823218,
 -0.5339916875083534,
 -0.5905285644862643,
 0.14794129380689175,
 0.2260329384780795,
 0.17118123561419565,
 0.06300939224600954,
 0.28418968537197137,
 0.4371657793340117,
 0.08226788680002028,
 0.4982530733156222,
 0.159277938719588,
 -0.1266823445671042,
 -0.27902872635478904,
 -0.2928475052584637,
 -0.533174364324229,
 -0.14245784096982858,
 0.06986258057958457,
 0.23973893616264258,
 0.13140640356375657,
 0.01899121420260149,
 0.7899140297700857,
 0.37591317959592474,
 -0.17556195125285184,
 -0.9290275176308681,
 -0.8870369893242185,
 0.5052798111221144,
 1.2180293793780557,
 0.9729988442197417,
 0.13217950779266566,
 -0.12125269888340287,
 0.4056684535992976,
 0.06493171452363411,
 0.10483842874099945,
 0.3601481529435022,
 0.7210103605686718,
 0.19359683088722404,
 0.016208623661328275,
 0.47746142855680135,
 0.012551332828590167,
 -0.18002542622842005,
 -0.49707178038746525,
 -0.4197350644163037,
 0.021916361045102833,
 0.18511486530397792,
 -0.07398934191278403,
 -0.03901473864638362,
 0.4618388654600102,
 0.28906119591886287,
 -0.2679687417005755,
 -0.2699509840009018,
 -0.6413101999284383,
 -0.5500204842470072,
 -0.011652271003792819,
 -0.16475954690197991,
 -0.2576354897628082,
 0.23203514517295815,
 0.18948034465571328,
 0.5581038590040033,
 0.4893991325599103,
 -0.32761127302868054,
 -0.7427340028823457,
 -0.25685292704898016,
 0.36723547964007364,
 0.4813469547734218,
 0.5378664869522303,
 0.28432450797114384,
 -0.5481866199138853,
 -0.3649395690231851,
 -0.044113584242312376,
 0.31658764301445075,
 0.24523953070730695,
 0.32313885492218636,
 0.2046382154105758,
 -0.12397595368338557,
 -0.22160888077309177,
 0.0034131954134658526,
 0.282558391281709,
 0.8995414511439825,
 0.9042395316210765,
 0.06902254319204038,
 -0.3459011155284353,
 -0.24086416996864515,
 0.0026711527280660896,
 -0.0028273298611633524,
 -0.5080703266071589,
 -0.8106341356397759,
 0.029880156081586118,
 0.5548246415331965,
 0.33086129730207375,
 0.3447864265153794,
 0.2263350179717843,
 0.09400062361998571,
 -0.19611480071600473,
 -0.0832874152936688,
 0.36440364178783347,
 0.6990201571480854,
 0.748953691633331,
 0.48105640464062127,
 -0.2116059194021671,
 -0.5345245512437526,
 -0.15639341355794953,
 0.5574032155654232,
 0.540772517823928,
 0.29359560938280027,
 0.019577219140018656,
 -0.9223911579658733,
 -1.2376580288098673,
 -0.2723720121904816,
 0.45258868711348876,
 0.0633984844253277,
 -0.008492581693861898,
 -0.5752087853183611,
 -0.778801530612728,
 -0.37662918933402423,
 0.1693742874710334,
 0.11438053744552776,
 -0.1364710690520518,
 0.0758074152775457,
 0.2525636551824515,
 -0.18677111378002972,
 0.1998512298168365,
 0.3188171807451737,
 -0.09502886782773953,
 -0.3776638871005542,
 -0.4598992901718922,
 0.11168570739898318,
 -0.014652144854304328,
 0.11118971747397265,
 0.09213372859287389,
 -0.32780214729205237,
 -0.11889149150734285,
 -0.237020737972995,
 -0.5709104666194633,
 -0.37999298726249237,
 -0.10997921778318923,
 0.5865435507450398,
 0.08602555942689882,
 -0.33848792406445616,
 0.008307702539385009,
 0.8380578180647313,
 0.8024369684516365,
 0.39858058369288435,
 0.19140623998751824,
 -0.16835847140639193,
 -0.44027112662610746,
 0.2504627472834417,
 0.28181930737861305,
 0.6222941264769474,
 0.5310290047530963,
 -0.037178107841151053,
 -0.6029814356766313,
 -0.8561318915223564,
 -0.8103102426891691,
 -0.4072504812584485,
 0.3424894370084092,
 0.15032514588941243,
 -0.16351342772001634,
 -0.35328529639376316,
 0.29438232773900763,
 0.11857238412362642,
 0.05449211029500854,
 -0.41843966380028136,
 -0.23372365691371025,
 0.48394972086786625,
 0.7558935824037354,
 0.5171501227704055,
 0.31658180698482297,
 -0.011512285253905893,
 0.022347628143639692,
 0.45534392956176145,
 0.6383889860454817,
 0.533265753996581,
 -0.00832200650227835,
 -0.4032234143090457,
 -0.5568788322278014,
 0.055895326311698745,
 0.07104533318272252,
 0.628529613632886,
 0.8729284155791179,
 0.5449776135496768,
 0.12045808373400366,
 -0.043195982412593814,
 -0.523510799804692,
 -0.6132245947323577,
 -0.46041055742654724,
 -0.24376769757835484,
 -0.3101743488675909,
 -0.4874475423110297,
 -0.6870487122999676,
 -0.6666038418311397,
 -0.37812137577035254,
 0.20596759554978503,
 0.33510995017132805,
 0.38129095714507455,
 0.017643294728945658,
 -0.22711319807803554,
 -0.060054906345405196,
 0.366994197662823,
 0.3981768757231289,
 0.19942133750319438,
 0.022623102366948856,
 -0.24291682028331218,
 0.18523781797049002,
 -0.058917972612722774,
 0.3611938993300735,
 0.574132033371171,
 0.6033765653438689,
 0.21279506580097168,
 0.1294739609099758,
 -0.4656514474387458,
 -0.8324663919799886,
 -0.6461205471665314,
 -0.5419536967334043,
 -0.3331644673256608,
 -0.28011034991576156,
 -0.27522887103635996,
 -0.00400810812219439,
 -0.15459128105064057,
 -0.29184234451835867,
 -0.3496673131373581,
 0.1274281853463498,
 0.21670118553711526,
 0.03428081335030911,
 -0.1005107519832024,
 -0.5358903616869146,
 -0.4658933150742,
 0.10419083198408571,
 0.34586434219060014,
 -0.05455371463755174,
 -0.8856840202901858,
 -0.8964059303989353,
 -0.46442183879873894,
 0.14462907703218086,
 0.42174574199447445,
 -0.05788123415705143,
 -0.13422221433557943,
 0.5834223521968365,
 0.3198782925664292,
 0.45537227187192836,
 -0.07059981910264354,
 -0.03173822355005282,
 -0.36773645835090496,
 -0.28249311651634085,
 -0.3146808581608632,
 0.366676516434403,
 0.13037111555308178,
 0.7174938073633453,
 0.33547452057237626,
 0.015426365993944584,
 -0.16589845780062185,
 -0.505690033425831,
 -0.1424587933748561,
 0.5227712926449402,
 0.16418905181598764,
 0.21663299121405047,
 -0.1490436018132829,
 -0.7846343050502731,
 -0.6119603274152645,
 -0.07006652715643824,
 0.3432635108213212,
 0.24631781548832363,
 0.7308836852341405,
 0.5055304154664968,
 0.39165124818490293,
 -0.08131760876329444,
 -0.2444993266818578,
 0.008976448506014506,
 0.20740249178194614,
 -0.36998274554185895,
 -0.21233929485118166,
 0.5659230560097702,
 0.36424870451282143,
 -0.02332343890620041,
 -0.17109356377466425,
 -0.21861598476365768,
 -0.07825587812558416,
 0.19018382473862372,
 0.3645835525160621,
 -0.3410850952189167,
 -0.06193984442059819,
 0.5829189961085258,
 0.38287359785890235,
 0.0700281358955099,
 -0.08034416312144906,
 -0.10555026696475772,
 -0.5880912023311432,
 -0.54284773983108,
 0.15749011163178123,
 1.0337189146533328,
 0.38873601569699284,
 0.003206605702501128,
 -0.47813421662902944,
 -0.43707299574256997,
 -0.4742999171846661,
 -0.688803307879238,
 -0.702567565746496,
 -0.6336660348748538,
 -0.09778689465335735,
 0.10338103560044978,
 -0.3344313509005357,
 -0.758755312884432,
 -0.8284076084292857,
 -0.29085381603321536,
 -0.04673712264839183,
 0.1843795428462741,
 0.08564190691400801,
 -0.14700363366615826,
 -0.5507316001173429,
 -0.013331738167166374,
 0.013170991626577089,
 -0.23689721342543132,
 0.05099659089406486,
 -0.058261338232355686,
 0.03306151140196889,
 0.31484597022578087,
 -0.08846115236002955,
 -0.059368314342311435,
 -0.7119643754923936,
 -0.30611077134566256,
 0.21506601499423225,
 0.4017712932673223,
 0.017586765603898102,
 -0.4045310786670608,
 -0.43578005074577986,
 0.5741850449586889,
 0.2031387164406684,
 -0.278915030034922,
 -0.05735073637683086,
 -0.05948176232331806,
 -0.08179908769231103,
 0.3813106350073593,
 0.20603279291485802,
 0.11644001256675396,
 -0.22092921673877655,
 -0.1797151183710725,
 -0.28298063444373667,
 0.45507491515063525,
 0.37738331062492664,
 -0.4712607351091128,
 -0.6634904865093054,
 -0.34795020688982237,
 -0.5569658102510081,
 -0.3029562068458183,
 0.2410466654008284,
 0.15932762742214165,
 0.6105284180369334,
 0.9492086960967336,
 0.658756070309235,
 0.0856683648023912,
 -0.5038950879917362,
 -0.5310147427693985,
 -0.4070688618788699,
 -0.11955506943457608,
 0.05513516725972581,
 0.4690727402999916,
 0.0059458799750176095,
 -0.38301753346054157,
 -0.055046750492569185,
 0.0885955992239456,
 0.04413034104124531,
 0.2913990077759535,
 0.8341550558826879,
 0.6708381233783018,
 0.2886365879291672,
 -0.3938376601898174,
 -0.2642009267070792,
 0.13283567514206354,
 0.5721626018566807,
 0.421942190032844,
 0.28263861661501494,
 0.10805079052662046,
 0.02407689222901243,
 -0.24939744036378803,
 -0.306632780613225,
 -0.04510215099128098,
 0.8641254751198509,
 0.4314475443032507,
 0.2685178883411721,
 0.10733245629782763,
 0.07427726848162734,
 -0.05496564545888897,
 0.5288743519552072,
 0.9183819931292927,
 0.5655181615300725,
 -0.0742087477283741,
 -0.4788027873710999,
 -0.3387966353341269,
 0.23866142561124312,
 0.6207193981062338,
 0.3472475610490975,
 -0.15885036064693,
 -0.41265899305166104,
 -0.6631862805101292,
 -0.7062989394117504,
 -0.49217731798676323,
 -0.07644668890343459,
 0.1115088981703862,
 -0.02852779402502087,
 0.0169561028001617,
 -0.5594987711291168,
 -0.7959860373967049,
 -0.4120599387431648,
 -0.21050509518558957,
 -0.3500601283626754,
 -0.012492426239034432,
 0.23506974397959762,
 -0.20941907469316995,
 -0.47448527752211134,
 -0.45741445255944413,
 -0.6470949073070567,
 -0.12355316197529526,
 -0.41647068049323965,
 -0.017751616824794036,
 0.2783324247411323,
 -0.08575382288289268,
 0.09604501959885026,
 -0.06591886866915778,
 0.013461273314097397,
 -0.28490311671498103,
 -0.3417058426561952,
 -0.26080989545489686,
 -0.20120007549294308,
 -0.8255736007927763,
 -0.4111731475550244,
 -0.15877305700918948,
 -0.1104067964608173,
 -0.2791583525350477,
 -0.6926132343402123,
 -0.4758409857860194,
 -0.2763495663275646,
 0.6058444734375111,
 0.42327455531045666,
 -0.11057763613882243,
 -0.41473971372015433,
 -0.31172983273535654,
 0.2987298431975821,
 0.6966195597230785,
 -0.21904336789938805,
 -0.3977085840904274,
 -0.7617400630798306,
 -0.2921967996083777,
 -0.36636992456286305,
 -0.12443333430377253,
 -0.3530913420600867,
 -0.322612722960118,
 -0.23477630135544258,
 0.3349823600875832,
 -0.3455400626445225,
 -0.5909352586108484,
 0.09909341901276686,
 0.6831120175632328,
 0.6986382880687148,
 0.36931227912754955,
 0.12721190094784796,
 0.10660450857037633,
 0.007800964178577445,
 -0.19383284810423135,
 -0.38612545169083445,
 -0.28356710335302643,
 -0.1999808614021367,
 -0.2717466326726511,
 -0.09784271119447502,
 -0.005504257875035515,
 -0.39314316437364905,
 -0.5750891073036175,
 -0.18733078480086324,
 -0.09208972419300629,
 0.3105152795087109,
 0.20417285912949767,
 0.2006560383553887,
 0.3066291755757953,
 0.2854847067982082,
 0.4230392545755787,
 -0.5080052288307386,
 -0.4310258995112461,
 -0.14981104782969315,
 -1.0223952609171525,
 -1.0662054329050648,
 -0.6607210390874372,
 -0.30633292829988445,
 0.009495137273466046,
 -0.1897406308126981,
 -0.19437737938798202,
 -0.21827696895034873,
 0.2868988946194655,
 0.11506525778426177,
 -0.1409592251466929,
 -0.17569023245186416,
 -0.11724831564933268,
 0.10101127117663708,
 0.08595443549896942,
 -0.13900439874803164,
 -0.049594434238201604,
 -0.26539140770209374,
 -0.2472921765504589,
 0.11175265809220018,
 -0.2082330650571188,
 -0.17421057484747549,
 0.21794993869973134,
 0.5854006180708446,
 0.25544793017799416,
 0.4405887925166684,
 0.42675057943208716,
 0.3594396229759157,
 0.25218564552994394,
 -0.028028315093023934,
 0.1103191163574359,
 -0.06119930993188488,
 0.3228387864257021,
 0.42376630215156763,
 0.39113667478382685,
 0.20451747847276003,
 0.14722427891820683,
 0.44062350226598623,
 0.47544269839327924,
 0.3413274161264866,
 -0.1592805157055881,
 -0.6551364772102125,
 -0.6301235068732698,
 0.34441189450899035,
 0.23664775559869533,
 0.017337061040323565,
 -0.032565782082908355,
 0.2653713797471094,
 -0.12102963620759716,
 -0.24851797349501792,
 0.46821237672794325,
 0.38190035993538274,
 0.15137154398854313,
 0.012472435773917559,
 -0.1404043874945132,
 -0.3412635836022508,
 0.5620951182291967,
 0.6549462020546651,
 0.29577968743917576,
 -0.027266232682640872,
 0.014856408477699617,
 -0.06486227583646065,
 -0.2814728725711227,
 -0.37635471963755374,
 0.6765550241428375,
 0.9850348892692791,
 0.9961451009673362,
 0.5732222761716111,
 0.4629206041397194,
 0.35224855941439115,
 -0.20985921391667509,
 0.22123982428079703,
 0.002372094969533556,
 -0.07072732492100964,
 0.5595283813183791,
 1.5069372903349352,
 1.2863609600941082,
 0.8061686783897553,
 -0.45526355345101865,
 0.07441186097628638,
 0.5076380860053088,
 0.13943382943936192,

In [24]:
MAXLAGS = 5

In [42]:
model = sm.tsa.AR(values)
results = model.fit(MAXLAGS)

NotImplementedError: AR has been removed from statsmodels and replaced with statsmodels.tsa.ar_model.AutoReg.

In [57]:
import statsmodels.tsa as tsa
model = tsa.ar_model.AutoReg(values, 5) #code changed

In [58]:
results = model.fit()

In [60]:
results.params

array([-0.00616093,  0.78446347, -0.40847891, -0.01364148,  0.01496872,
        0.01429462])

### 13.4 Introduction to scikit-learn

In [62]:
train = pd.read_csv("datasets/titanic/train.csv")
test = pd.read_csv("datasets/titanic/test.csv")

In [63]:
train[:4]

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S

[4 rows x 12 columns]

In [64]:
import seaborn as sns

In [65]:
titanic = sns.load_dataset('titanic')

In [66]:
titanic

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           0       3    male  22.0  ...   NaN  Southampton     no  False
1           1       1  female  38.0  ...     C    Cherbourg    yes  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
3           1       1  female  35.0  ...     C  Southampton    yes  False
4           0       3    male  35.0  ...   NaN  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
886         0       2    male  27.0  ...   NaN  Southampton     no   True
887         1       1  female  19.0  ...     B  Southampton    yes   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False
889         1       1    male  26.0  ...     C    Cherbourg    yes   True
890         0       3    male  32.0  ...   NaN   Queenstown     no   True

[891 rows x 15 columns]

In [67]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [68]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [69]:
impute_value = train['Age'].median()

In [70]:
train['Age'] = train['Age'].fillna(impute_value)

In [71]:
test['Age'] = test['Age'].fillna(impute_value)

In [72]:
train['IsFemale'] = (train['Sex'] == 'female').astype(int)

In [73]:
train

     PassengerId  Survived  Pclass  ... Cabin Embarked  IsFemale
0              1         0       3  ...   NaN        S         0
1              2         1       1  ...   C85        C         1
2              3         1       3  ...   NaN        S         1
3              4         1       1  ...  C123        S         1
4              5         0       3  ...   NaN        S         0
..           ...       ...     ...  ...   ...      ...       ...
886          887         0       2  ...   NaN        S         0
887          888         1       1  ...   B42        S         1
888          889         0       3  ...   NaN        S         1
889          890         1       1  ...  C148        C         0
890          891         0       3  ...   NaN        Q         0

[891 rows x 13 columns]

In [74]:
test['IsFemale'] = (test['Sex'] == 'female').astype(int)

In [76]:
predictors = ['Pclass', 'IsFemale', 'Age']

In [77]:
X_train = train[predictors].values

In [78]:
X_test = test[predictors].values

In [79]:
y_train = train['Survived'].values

In [80]:
X_train[:5]

array([[ 3.,  0., 22.],
       [ 1.,  1., 38.],
       [ 3.,  1., 26.],
       [ 1.,  1., 35.],
       [ 3.,  0., 35.]])

In [81]:
y_train[:5]

array([0, 1, 1, 1, 0])

In [82]:
from sklearn.linear_model import LogisticRegression

In [83]:
model = LogisticRegression()

In [84]:
model.fit(X_train, y_train)

LogisticRegression()

In [85]:
y_predict = model.predict(X_test)

In [86]:
y_predict[:10]

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0])

In [88]:
from sklearn.linear_model import LogisticRegressionCV

In [93]:
# model_cv = LogisticRegressionCV(10).fit(X, y)

TypeError: __init__() takes 1 positional argument but 2 were given

In [94]:
from sklearn.model_selection import cross_val_score

In [95]:
model = LogisticRegression(C=10)

In [96]:
scores = cross_val_score(model, X_train, y_train, cv=4)

In [97]:
scores

array([0.77578475, 0.79820628, 0.77578475, 0.78828829])