In [1]:
import numpy as np
import pandas as pd

## 11.1 Date and Time Data Types and Tools

In [2]:
from datetime import datetime
now = datetime.now()

In [3]:
now

datetime.datetime(2022, 4, 6, 19, 23, 36, 676744)

In [4]:
now.year, now.month, now.day

(2022, 4, 6)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
from datetime import timedelta

In [10]:
start = datetime(2011, 1, 7)

In [11]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

In [13]:
stamp = datetime(2011, 1, 3)

In [14]:
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
str(stamp)

'2011-01-03 00:00:00'

In [16]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [17]:
value = '2011-01-03'

In [18]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [22]:
datestrs = ['7/6/2011', '8/6/2011']

In [23]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [24]:
from dateutil.parser import parse

In [25]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [26]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [27]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [28]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [29]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [30]:
idx = pd.to_datetime(datestrs + [None])

In [31]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [32]:
idx[2]

NaT

In [33]:
pd.isnull(idx)

array([False, False,  True])

## 11.2 Time Series Basics

In [34]:
from datetime import datetime

In [36]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [37]:
ts = pd.Series(np.random.randn(6), index=dates)

In [38]:
ts

2011-01-02    0.811260
2011-01-05    0.232788
2011-01-07   -0.022568
2011-01-08    0.990226
2011-01-10   -0.242394
2011-01-12   -0.865945
dtype: float64

In [39]:
ts + ts[::2]

2011-01-02    1.622520
2011-01-05         NaN
2011-01-07   -0.045136
2011-01-08         NaN
2011-01-10   -0.484789
2011-01-12         NaN
dtype: float64

In [40]:
ts.index.dtype

dtype('<M8[ns]')

In [41]:
stamp = ts.index[0]

In [42]:
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [43]:
stamp = ts.index[2]

In [44]:
ts[stamp]

-0.022568144788157746

In [45]:
ts['1/10/2011']

-0.24239430524001182

In [46]:
ts['20110110']

-0.24239430524001182

In [47]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [48]:
longer_ts

2000-01-01    0.144856
2000-01-02   -0.208941
2000-01-03   -1.457914
2000-01-04   -0.430746
2000-01-05    1.546900
                ...
2002-09-22    0.689038
2002-09-23   -0.133191
2002-09-24   -1.108082
2002-09-25    1.035105
2002-09-26   -0.516905
Freq: D, Length: 1000, dtype: float64

In [49]:
longer_ts['2001']

2001-01-01   -0.165267
2001-01-02    0.260260
2001-01-03   -2.182151
2001-01-04    0.166673
2001-01-05   -0.376338
                ...
2001-12-27   -0.622064
2001-12-28   -0.476781
2001-12-29   -0.843414
2001-12-30    0.516667
2001-12-31   -0.502339
Freq: D, Length: 365, dtype: float64

In [51]:
longer_ts['2001-05']

2001-05-01   -0.426226
2001-05-02   -0.907840
2001-05-03    0.477160
2001-05-04    0.269397
2001-05-05    0.355681
2001-05-06    0.113691
2001-05-07    0.466562
2001-05-08    0.524733
2001-05-09    1.813649
2001-05-10   -1.619087
2001-05-11    0.517740
2001-05-12    1.159114
2001-05-13   -1.279331
2001-05-14    0.156331
2001-05-15   -0.718066
2001-05-16   -1.097939
2001-05-17    0.622733
2001-05-18    0.614487
2001-05-19   -1.022746
2001-05-20   -0.634196
2001-05-21   -0.057044
2001-05-22   -1.093419
2001-05-23   -1.855251
2001-05-24    0.574567
2001-05-25    2.001165
2001-05-26   -0.000686
2001-05-27   -1.940944
2001-05-28    0.227782
2001-05-29   -0.663118
2001-05-30    1.323262
2001-05-31   -0.026113
Freq: D, dtype: float64

In [52]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.022568
2011-01-08    0.990226
2011-01-10   -0.242394
2011-01-12   -0.865945
dtype: float64

In [53]:
ts

2011-01-02    0.811260
2011-01-05    0.232788
2011-01-07   -0.022568
2011-01-08    0.990226
2011-01-10   -0.242394
2011-01-12   -0.865945
dtype: float64

In [54]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.022568
2011-01-08    0.990226
2011-01-10   -0.242394
dtype: float64

In [55]:
ts.truncate(after='1/9/2011')

2011-01-02    0.811260
2011-01-05    0.232788
2011-01-07   -0.022568
2011-01-08    0.990226
dtype: float64

In [56]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [58]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [59]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -2.104341  0.193108 -0.615649  0.121094
2001-05-09  0.528643  0.284710 -0.303218 -0.318933
2001-05-16 -0.345826  0.634122  1.244929  0.134809
2001-05-23 -0.361336 -0.771640  0.403041  1.028806
2001-05-30 -0.938687 -1.199517  0.246962  1.078668

### Time Series with Duplicate Indices

In [60]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])

In [61]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [62]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [63]:
dup_ts.index.is_unique

False

In [64]:
dup_ts['1/3/2000']

4

In [65]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [66]:
grouped = dup_ts.groupby(level=0)

In [67]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [68]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [69]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

## 11.3 Date Ranges, Frequencies, and Shifting

In [70]:
ts

2011-01-02    0.811260
2011-01-05    0.232788
2011-01-07   -0.022568
2011-01-08    0.990226
2011-01-10   -0.242394
2011-01-12   -0.865945
dtype: float64

In [71]:
resampler = ts.resample('D')

In [72]:
resampler

### Generating Date Ranges

In [73]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [74]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [75]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [76]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [77]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [78]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [79]:
# normalize (자정으로 셋팅))
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [80]:
from pandas.tseries.offsets import Hour, Minute

In [81]:
hour = Hour()

In [82]:
hour

In [83]:
four_hours = Hour(4)

In [84]:
four_hours

In [85]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [86]:
Hour(2) + Minute(30)

In [88]:
pd.date_range(start='2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### Week of month dates

In [89]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [90]:
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [91]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting (Leading and Lagging) Data

In [92]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [93]:
ts

2000-01-31   -0.461375
2000-02-29    0.761970
2000-03-31    1.135776
2000-04-30    0.241818
Freq: M, dtype: float64

In [94]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.461375
2000-04-30    0.761970
Freq: M, dtype: float64

In [95]:
ts.shift(-2)

2000-01-31    1.135776
2000-02-29    0.241818
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [96]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -2.651521
2000-03-31    0.490579
2000-04-30   -0.787090
Freq: M, dtype: float64

In [97]:
ts.shift(2, freq='M')

2000-03-31   -0.461375
2000-04-30    0.761970
2000-05-31    1.135776
2000-06-30    0.241818
Freq: M, dtype: float64

In [98]:
ts.shift(3, freq='D')

2000-02-03   -0.461375
2000-03-03    0.761970
2000-04-03    1.135776
2000-05-03    0.241818
dtype: float64

In [99]:
ts.shift(freq='90T')

2000-01-31 01:30:00   -0.461375
2000-02-29 01:30:00    0.761970
2000-03-31 01:30:00    1.135776
2000-04-30 01:30:00    0.241818
dtype: float64

#### Shifting dates with offsets

In [100]:
from pandas.tseries.offsets import Day, MonthEnd

In [101]:
now = datetime(2011, 11, 17)

In [102]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [103]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [104]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [105]:
offset = MonthEnd()

In [106]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [107]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [108]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [109]:
ts

2000-01-15    0.957486
2000-01-19    1.576658
2000-01-23    0.484449
2000-01-27   -0.318499
2000-01-31    0.834258
2000-02-04   -0.337443
2000-02-08    0.780480
2000-02-12    0.459471
2000-02-16   -0.668011
2000-02-20   -0.019988
2000-02-24   -0.185900
2000-02-28   -0.467158
2000-03-03    1.770527
2000-03-07   -1.472033
2000-03-11   -0.411252
2000-03-15   -0.620869
2000-03-19    1.072291
2000-03-23    0.245647
2000-03-27   -0.699797
2000-03-31   -0.222869
Freq: 4D, dtype: float64

In [110]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.706871
2000-02-29   -0.062650
2000-03-31   -0.042294
dtype: float64

In [111]:
ts.resample('M').mean()

2000-01-31    0.706871
2000-02-29   -0.062650
2000-03-31   -0.042294
Freq: M, dtype: float64

### 11.4 Time Zone Handling

In [113]:
import pytz

In [114]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [115]:
tz = pytz.timezone('America/New_York')

In [116]:
tz

### Time Zone Localization and Conversion

In [117]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [118]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [119]:
ts

2012-03-09 09:30:00   -0.119409
2012-03-10 09:30:00   -0.740354
2012-03-11 09:30:00    0.290560
2012-03-12 09:30:00   -1.316378
2012-03-13 09:30:00   -0.525405
2012-03-14 09:30:00   -0.735500
Freq: D, dtype: float64

In [120]:
print(ts.index.tz)

None

In [121]:
pd.date_range('3/9/2012 09:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [122]:
ts

2012-03-09 09:30:00   -0.119409
2012-03-10 09:30:00   -0.740354
2012-03-11 09:30:00    0.290560
2012-03-12 09:30:00   -1.316378
2012-03-13 09:30:00   -0.525405
2012-03-14 09:30:00   -0.735500
Freq: D, dtype: float64

In [123]:
ts_utc = ts.tz_localize('UTC')

In [124]:
ts_utc

2012-03-09 09:30:00+00:00   -0.119409
2012-03-10 09:30:00+00:00   -0.740354
2012-03-11 09:30:00+00:00    0.290560
2012-03-12 09:30:00+00:00   -1.316378
2012-03-13 09:30:00+00:00   -0.525405
2012-03-14 09:30:00+00:00   -0.735500
Freq: D, dtype: float64

In [125]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [126]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.119409
2012-03-10 04:30:00-05:00   -0.740354
2012-03-11 05:30:00-04:00    0.290560
2012-03-12 05:30:00-04:00   -1.316378
2012-03-13 05:30:00-04:00   -0.525405
2012-03-14 05:30:00-04:00   -0.735500
Freq: D, dtype: float64

In [127]:
ts_eastern = ts.tz_localize('America/New_York')

In [128]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.119409
2012-03-10 14:30:00+00:00   -0.740354
2012-03-11 13:30:00+00:00    0.290560
2012-03-12 13:30:00+00:00   -1.316378
2012-03-13 13:30:00+00:00   -0.525405
2012-03-14 13:30:00+00:00   -0.735500
dtype: float64

In [129]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.119409
2012-03-10 15:30:00+01:00   -0.740354
2012-03-11 14:30:00+01:00    0.290560
2012-03-12 14:30:00+01:00   -1.316378
2012-03-13 14:30:00+01:00   -0.525405
2012-03-14 14:30:00+01:00   -0.735500
dtype: float64

In [130]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

### Operations with Time Zone - Aware Timestamp Objects

In [131]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [132]:
stamp_utc = stamp.tz_localize('utc')

In [133]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [134]:
stamp

Timestamp('2011-03-12 04:00:00')

In [135]:
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [136]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [137]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [138]:
stamp_utc.value

1299902400000000000

In [139]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [140]:
from pandas.tseries.offsets import Hour

In [141]:
stamp=pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

In [142]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [143]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [144]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

In [145]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [146]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operations Between Different Time Zones

In [147]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

In [148]:
rng

DatetimeIndex(['2012-03-07 09:30:00', '2012-03-08 09:30:00',
               '2012-03-09 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00',
               '2012-03-15 09:30:00', '2012-03-16 09:30:00',
               '2012-03-19 09:30:00', '2012-03-20 09:30:00'],
              dtype='datetime64[ns]', freq='B')

In [149]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [150]:
ts

2012-03-07 09:30:00    0.451796
2012-03-08 09:30:00   -0.384967
2012-03-09 09:30:00   -0.826456
2012-03-12 09:30:00   -0.101767
2012-03-13 09:30:00    0.910908
2012-03-14 09:30:00   -0.186573
2012-03-15 09:30:00   -0.467387
2012-03-16 09:30:00   -0.087685
2012-03-19 09:30:00    1.160354
2012-03-20 09:30:00   -1.549615
Freq: B, dtype: float64

In [153]:
ts.info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 10 entries, 2012-03-07 09:30:00 to 2012-03-20 09:30:00
Freq: B
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     float64
dtypes: float64(1)
memory usage: 160.0 bytes

In [155]:
ts1 = ts[:7].tz_localize('Europe/London')

In [157]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [159]:
result = ts1 + ts2

In [160]:
ts1

2012-03-07 09:30:00+00:00    0.451796
2012-03-08 09:30:00+00:00   -0.384967
2012-03-09 09:30:00+00:00   -0.826456
2012-03-12 09:30:00+00:00   -0.101767
2012-03-13 09:30:00+00:00    0.910908
2012-03-14 09:30:00+00:00   -0.186573
2012-03-15 09:30:00+00:00   -0.467387
dtype: float64

In [161]:
ts2

2012-03-09 13:30:00+04:00   -0.826456
2012-03-12 13:30:00+04:00   -0.101767
2012-03-13 13:30:00+04:00    0.910908
2012-03-14 13:30:00+04:00   -0.186573
2012-03-15 13:30:00+04:00   -0.467387
dtype: float64

In [162]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

## 11.5 Periods and Periods Arithmetic

In [163]:
p = pd.Period(2007, freq='A-DEC')

In [164]:
p

Period('2007', 'A-DEC')

In [165]:
p + 5

Period('2012', 'A-DEC')

In [166]:
p - 2

Period('2005', 'A-DEC')

In [168]:
pd.Period('2014', freq = 'A-DEC') - p

In [170]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')

In [171]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [172]:
pd.Series(np.random.randn(6), index=rng)

2000-01    0.604698
2000-02    0.376928
2000-03    0.175975
2000-04    0.994472
2000-05    0.510491
2000-06    1.128035
Freq: M, dtype: float64

In [173]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [174]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [175]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]')

### Period Frequency Conversion

In [176]:
p = pd.Period('2007', freq='A-DEC')

In [177]:
p

Period('2007', 'A-DEC')

In [178]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [179]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [180]:
p = pd.Period('2007', freq='A-JUN')

In [181]:
p

Period('2007', 'A-JUN')

In [182]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [183]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [184]:
p = pd.Period('Aug-2007', 'M')

In [185]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [186]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

In [187]:
rng

PeriodIndex(['2006', '2007', '2008', '2009'], dtype='period[A-DEC]')

In [188]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [189]:
ts

2006   -0.525886
2007   -0.751425
2008   -1.068764
2009    1.469595
Freq: A-DEC, dtype: float64

In [190]:
ts.asfreq('M', how='start')

2006-01   -0.525886
2007-01   -0.751425
2008-01   -1.068764
2009-01    1.469595
Freq: M, dtype: float64

In [191]:
ts.asfreq('B', how='end')

2006-12-29   -0.525886
2007-12-31   -0.751425
2008-12-31   -1.068764
2009-12-31    1.469595
Freq: B, dtype: float64

### Quarterly Period Frequencies

In [192]:
p = pd.Period('2012Q4', freq='Q-JAN')

In [193]:
p

Period('2012Q4', 'Q-JAN')

In [194]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [195]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [196]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [197]:
p4pm

Period('2012-01-30 16:00', 'T')

In [198]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [200]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')

In [201]:
rng

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-JAN]')

In [202]:
ts = pd.Series(np.arange(len(rng)), index=rng)

In [203]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

In [204]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [205]:
ts.index = new_rng.to_timestamp()

In [206]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

### Converting Timestamps to Periods (and Back)

In [207]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')

In [208]:
ts = pd.Series(np.random.randn(3), index=rng)

In [209]:
ts

2000-01-31    0.116457
2000-02-29   -0.297385
2000-03-31    0.406800
Freq: M, dtype: float64

In [210]:
pts = ts.to_period()

In [211]:
pts

2000-01    0.116457
2000-02   -0.297385
2000-03    0.406800
Freq: M, dtype: float64

In [212]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')

In [213]:
ts2 = pd.Series(np.random.randn(6), index=rng)

In [214]:
ts2

2000-01-29    0.188925
2000-01-30   -0.248650
2000-01-31    1.248728
2000-02-01   -1.983482
2000-02-02    0.742787
2000-02-03   -0.286030
Freq: D, dtype: float64

In [215]:
ts2.to_period('M')

2000-01    0.188925
2000-01   -0.248650
2000-01    1.248728
2000-02   -1.983482
2000-02    0.742787
2000-02   -0.286030
Freq: M, dtype: float64

In [216]:
pts = ts2.to_period()

In [217]:
pts

2000-01-29    0.188925
2000-01-30   -0.248650
2000-01-31    1.248728
2000-02-01   -1.983482
2000-02-02    0.742787
2000-02-03   -0.286030
Freq: D, dtype: float64

### Creating a PeriodIndex from Arrays

In [218]:
data = pd.read_csv('examples/macrodata.csv')

In [219]:
data

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
199,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
200,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
201,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
202,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

In [220]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
        ...
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [221]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
      ...
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [222]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')

In [223]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203)

In [224]:
data.index = index

In [225]:
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
          ...
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64