## Data Structures and Sequences

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(['foo', [1, 2], True])

In [10]:
tup

('foo', [1, 2], True)

In [11]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [12]:
tup[1].append(3)

In [13]:
tup

('foo', [1, 2, 3], True)

In [14]:
(4, None, 'foo') + (6, 0) + ('bar', )

(4, None, 'foo', 6, 0, 'bar')

In [15]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [16]:
tup = (4, 5, 6)
a, b, c = tup

In [17]:
tup

(4, 5, 6)

In [18]:
b

5

In [19]:
tup = 4, 5, (6, 7)

In [20]:
a, b, (c, d) = tup

In [21]:
d

7

In [22]:
tup

(4, 5, (6, 7))

In [23]:
tmp = a
a = b
b = tmp

In [24]:
a, b = 1, 2

In [25]:
a

1

In [26]:
b

2

In [27]:
b, a = a, b

In [28]:
a

2

In [29]:
b

1

In [30]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [31]:
seq

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [32]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [33]:
values = 1, 2, 3, 4, 5

In [34]:
a, b, *rest = values

In [35]:
rest

[3, 4, 5]

In [36]:
a, b, *_ = values

In [37]:
values

(1, 2, 3, 4, 5)

In [38]:
a

1

In [39]:
b

2

In [40]:
_

[3, 4, 5]

In [41]:
a = (1, 2, 2, 2, 3, 4, 2)

In [42]:
a.count(2)

4

### List

In [43]:
a_list = [2, 3, 7, None]

In [44]:
tup = ('foo', 'bar', 'baz')

In [45]:
b_list = list(tup)

In [46]:
b_list

['foo', 'bar', 'baz']

In [47]:
b_list[1] = 'peekaboo'

In [48]:
b_list

['foo', 'peekaboo', 'baz']

In [49]:
gen = range(10)

In [50]:
gen

range(0, 10)

In [51]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
b_list.append('dwarf')

In [53]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [54]:
b_list.insert(1, 'red')

In [55]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [56]:
b_list.pop(2)

'peekaboo'

In [57]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [58]:
b_list.append('foo')

In [59]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [60]:
b_list.remove('foo')

In [61]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [62]:
'dwarf' in b_list

True

In [63]:
'dwarf' not in b_list

False

In [64]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [65]:
x = [4, None, 'foo']

In [66]:
x

[4, None, 'foo']

In [67]:
x.extend([7, 8, (2, 3)])

In [68]:
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sorting

In [69]:
a = [7, 2, 5, 1, 3]

In [70]:
a.sort()

In [71]:
a

[1, 2, 3, 5, 7]

In [72]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [73]:
b.sort(key=len)

In [74]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [75]:
import bisect

In [76]:
c = [1, 2, 2, 2, 3, 4, 7]

In [77]:
c

[1, 2, 2, 2, 3, 4, 7]

In [78]:
bisect.bisect(c, 2)

4

In [79]:
bisect.bisect(c, 5)

6

In [80]:
bisect.insort(c, 6)

In [81]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [82]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [83]:
seq

[7, 2, 3, 7, 5, 6, 0, 1]

In [84]:
seq[1:5]

[2, 3, 7, 5]

In [85]:
seq[3:4] = [6, 3]

In [86]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [87]:
seq[:5]

[7, 2, 3, 6, 3]

In [88]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [89]:
seq[-4:]

[5, 6, 0, 1]

In [90]:
seq[-6:-2]

[6, 3, 5, 6]

In [91]:
seq[::2]

[7, 3, 3, 6, 1]

In [92]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

#### Built-in Sequence Functions

In [93]:
some_list = ['foo', 'bar', 'baz']

In [94]:
mapping = {}

In [95]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [96]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [97]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [98]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [99]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

In [100]:
zipped = zip(seq1, seq2)

In [101]:
zipped

In [102]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [103]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [104]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [105]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [106]:
first_names, last_names = zip(*pitchers)

In [107]:
first_names

('Nolan', 'Roger', 'Schilling')

In [108]:
last_names

('Ryan', 'Clemens', 'Curt')

In [109]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### dict

In [110]:
empty_dict = {}

d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}

In [111]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [112]:
d1[7] = 'an integer'

In [113]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [114]:
d1['b']

[1, 2, 3, 4]

In [115]:
'b' in d1

True

In [116]:
d1[5] = 'some value'

d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [117]:
d1['dummy'] = 'another value'

d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [118]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [119]:
del d1[5]

In [120]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [121]:
ret = d1.pop('dummy')

In [122]:
ret

'another value'

In [123]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [124]:
list(d1.keys())

['a', 'b', 7]

In [125]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [126]:
d1.update({'b' : 'foo', 'c': 12})

In [127]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [128]:
mapping = dict(zip(range(5), reversed(range(5))))

In [129]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [130]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [131]:
by_letter = {}

In [132]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [133]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [134]:
by_letter = {}

In [135]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [136]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [137]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [138]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [139]:
hash('string')

8333212891947135783

In [140]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [141]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [142]:
d = {}

In [143]:
d[tuple([1, 2, 3])] = 5

In [144]:
d

{(1, 2, 3): 5}

#### set

In [145]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [146]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [147]:
a = {1, 2, 3, 4, 5}

In [148]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [149]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [150]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [151]:
a.intersection(b)

{3, 4, 5}

In [152]:
a & b

{3, 4, 5}

In [153]:
c = a.copy()

In [154]:
c |= b

In [155]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [156]:
a

{1, 2, 3, 4, 5}

In [157]:
d = a.copy()

In [158]:
d &= b

In [159]:
d

{3, 4, 5}

In [161]:
my_data = {1, 2, 3, 4}

In [162]:
my_set = {tuple(my_data)}

In [163]:
my_set

{(1, 2, 3, 4)}

In [164]:
a_set = {1, 2, 3, 4, 5}

In [165]:
{1, 2, 3}.issubset(a_set)

True

In [166]:
a_set.issuperset({1, 2, 3})

True

In [167]:
{1, 2, 3} == {3, 2, 1}

True