## Data Structures and Sequences

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(['foo', [1, 2], True])

In [10]:
tup

('foo', [1, 2], True)

In [11]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [12]:
tup[1].append(3)

In [13]:
tup

('foo', [1, 2, 3], True)

In [14]:
(4, None, 'foo') + (6, 0) + ('bar', )

(4, None, 'foo', 6, 0, 'bar')

In [15]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [16]:
tup = (4, 5, 6)
a, b, c = tup

In [17]:
tup

(4, 5, 6)

In [18]:
b

5

In [19]:
tup = 4, 5, (6, 7)

In [20]:
a, b, (c, d) = tup

In [21]:
d

7

In [22]:
tup

(4, 5, (6, 7))

In [23]:
tmp = a
a = b
b = tmp

In [24]:
a, b = 1, 2

In [25]:
a

1

In [26]:
b

2

In [27]:
b, a = a, b

In [28]:
a

2

In [29]:
b

1

In [30]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [31]:
seq

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [32]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [33]:
values = 1, 2, 3, 4, 5

In [34]:
a, b, *rest = values

In [35]:
rest

[3, 4, 5]

In [36]:
a, b, *_ = values

In [37]:
values

(1, 2, 3, 4, 5)

In [38]:
a

1

In [39]:
b

2

In [40]:
_

[3, 4, 5]

In [41]:
a = (1, 2, 2, 2, 3, 4, 2)

In [42]:
a.count(2)

4

### List

In [43]:
a_list = [2, 3, 7, None]

In [44]:
tup = ('foo', 'bar', 'baz')

In [45]:
b_list = list(tup)

In [46]:
b_list

['foo', 'bar', 'baz']

In [47]:
b_list[1] = 'peekaboo'

In [48]:
b_list

['foo', 'peekaboo', 'baz']

In [49]:
gen = range(10)

In [50]:
gen

range(0, 10)

In [51]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
b_list.append('dwarf')

In [53]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [54]:
b_list.insert(1, 'red')

In [55]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [56]:
b_list.pop(2)

'peekaboo'

In [57]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [58]:
b_list.append('foo')

In [59]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [60]:
b_list.remove('foo')

In [61]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [62]:
'dwarf' in b_list

True

In [63]:
'dwarf' not in b_list

False

In [64]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [65]:
x = [4, None, 'foo']

In [66]:
x

[4, None, 'foo']

In [67]:
x.extend([7, 8, (2, 3)])

In [68]:
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sorting

In [69]:
a = [7, 2, 5, 1, 3]

In [70]:
a.sort()

In [71]:
a

[1, 2, 3, 5, 7]

In [72]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [73]:
b.sort(key=len)

In [74]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [75]:
import bisect

In [76]:
c = [1, 2, 2, 2, 3, 4, 7]

In [77]:
c

[1, 2, 2, 2, 3, 4, 7]

In [78]:
bisect.bisect(c, 2)

4

In [79]:
bisect.bisect(c, 5)

6

In [80]:
bisect.insort(c, 6)

In [81]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [82]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [83]:
seq

[7, 2, 3, 7, 5, 6, 0, 1]

In [84]:
seq[1:5]

[2, 3, 7, 5]

In [85]:
seq[3:4] = [6, 3]

In [86]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [87]:
seq[:5]

[7, 2, 3, 6, 3]

In [88]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [89]:
seq[-4:]

[5, 6, 0, 1]

In [90]:
seq[-6:-2]

[6, 3, 5, 6]

In [91]:
seq[::2]

[7, 3, 3, 6, 1]

In [92]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

#### Built-in Sequence Functions

In [93]:
some_list = ['foo', 'bar', 'baz']

In [94]:
mapping = {}

In [95]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [96]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [97]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [98]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [99]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

In [100]:
zipped = zip(seq1, seq2)

In [101]:
zipped

In [102]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [103]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [104]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [105]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [106]:
first_names, last_names = zip(*pitchers)

In [107]:
first_names

('Nolan', 'Roger', 'Schilling')

In [108]:
last_names

('Ryan', 'Clemens', 'Curt')

In [109]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### dict

In [110]:
empty_dict = {}

d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}

In [111]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [112]:
d1[7] = 'an integer'

In [113]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [114]:
d1['b']

[1, 2, 3, 4]

In [115]:
'b' in d1

True

In [116]:
d1[5] = 'some value'

d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [117]:
d1['dummy'] = 'another value'

d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [118]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [119]:
del d1[5]

In [120]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [121]:
ret = d1.pop('dummy')

In [122]:
ret

'another value'

In [123]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [124]:
list(d1.keys())

['a', 'b', 7]

In [125]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [126]:
d1.update({'b' : 'foo', 'c': 12})

In [127]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [128]:
mapping = dict(zip(range(5), reversed(range(5))))

In [129]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [130]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [131]:
by_letter = {}

In [132]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [133]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [134]:
by_letter = {}

In [135]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [136]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [137]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [138]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [139]:
hash('string')

-9215856695500768629

In [140]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [141]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [142]:
d = {}

In [143]:
d[tuple([1, 2, 3])] = 5

In [144]:
d

{(1, 2, 3): 5}

#### set

In [145]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [146]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [147]:
a = {1, 2, 3, 4, 5}

In [148]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [149]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [150]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [151]:
a.intersection(b)

{3, 4, 5}

In [152]:
a & b

{3, 4, 5}

In [153]:
c = a.copy()

In [154]:
c |= b

In [155]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [156]:
a

{1, 2, 3, 4, 5}

In [157]:
d = a.copy()

In [158]:
d &= b

In [159]:
d

{3, 4, 5}

In [160]:
my_data = {1, 2, 3, 4}

In [161]:
my_set = {tuple(my_data)}

In [162]:
my_set

{(1, 2, 3, 4)}

In [163]:
a_set = {1, 2, 3, 4, 5}

In [164]:
{1, 2, 3}.issubset(a_set)

True

In [165]:
a_set.issuperset({1, 2, 3})

True

In [166]:
{1, 2, 3} == {3, 2, 1}

True

#### List, Set, and Dict Comprehensions

In [167]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [168]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [169]:
unique_lengths = {len(x) for x in strings}

In [170]:
unique_lengths

{1, 2, 3, 4, 6}

In [171]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [172]:
loc_mapping = {val: index for index, val in enumerate(strings)}

In [173]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [175]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natlia', 'Pilar']]

In [176]:
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [177]:
result

['Steven']

In [178]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [179]:
flattened =[x for tup in some_tuples for x in tup]

In [180]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Functions

In [181]:
a = None

In [182]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

print(a)

[]

#### Returning Multiple Values

In [183]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [184]:
a

5

In [185]:
b

6

In [186]:
c

7

In [187]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a':a, 'b':b, 'c':c}

#### Functions Are Objects

In [188]:
states = ['    Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south     carolina##', 'West virginia?']

In [189]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [190]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South     Carolina',
 'West Virginia']

In [191]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [192]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South     Carolina',
 'West Virginia']

In [193]:
for x in map(remove_punctuation, states):
    print(x)

    Alabama
Georgia
Georgia
georgia
FlOrIda
south     carolina
West virginia

### Anonymous (Lambda) Functions

In [194]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [195]:
strings.sort(key=lambda x: len(set(list(x))))

In [196]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

#### Generators

In [197]:
some_dict = {'a':1, 'b': 2, 'c': 3}

In [198]:
for key in some_dict:
    print(key)

a
b
c

In [199]:
for value in some_dict:
    print(value)

a
b
c

In [200]:
dict_iterator = iter(some_dict)

In [201]:
dict_iterator

In [202]:
list(dict_iterator)

['a', 'b', 'c']

In [212]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [217]:
gen = squares()

In [218]:
gen

In [207]:
list(gen)

Generating squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [219]:
for x in gen:
    print(x, end = ' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [220]:
gen = (x ** 2 for x in range(100))

In [221]:
gen

In [222]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [223]:
sum(x ** 2 for x in range(100))

328350

In [224]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [225]:
import itertools

In [229]:
first_letter = lambda x: x[0]

In [230]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [231]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # name is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### Errors and Exception Handling

In [232]:
float('1.2345')

1.2345

In [233]:
float('something')

ValueError: could not convert string to float: 'something'

In [234]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [235]:
attempt_float('1.2345')

1.2345

In [236]:
attempt_float('something')

'something'

In [237]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [238]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [239]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [240]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [241]:
attempt_float((1, 2))

(1, 2)

### 3.3 Files and the Opearting System

In [242]:
path = 'examples/segismundo.txt'

In [244]:
f = open(path)

In [245]:
for line in f:
    pass

In [246]:
lines = [x.rstrip() for x in open(path)]

In [247]:
lines

['Suea el rico en su riqueza,',
 'que ms cuidados le ofrece;',
 '',
 'suea el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'suea el que a medrar empieza,',
 'suea el que afana y pretende,',
 'suea el que agravia y ofende,',
 '',
 'y en el mundo, en conclusin,',
 'todos suean lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [248]:
f.close()

In [249]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [250]:
f = open(path)

In [251]:
f.read(10)

'Suea el r'

In [252]:
f2 = open(path, 'rb')

In [253]:
f2.read(10)

b'Sue\xc3\xb1a el '

In [254]:
f.tell()

11

In [255]:
f2.tell()

10

In [256]:
import sys

In [257]:
sys.getdefaultencoding()

'utf-8'

In [258]:
f.seek(3)

3

In [259]:
f.read(1)

''

In [260]:
f.close()

In [261]:
f2.close()

In [262]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

In [263]:
with open('tmp.txt') as f:
    lines = f.readlines()

In [264]:
lines

['Suea el rico en su riqueza,\n',
 'que ms cuidados le ofrece;\n',
 'suea el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'suea el que a medrar empieza,\n',
 'suea el que afana y pretende,\n',
 'suea el que agravia y ofende,\n',
 'y en el mundo, en conclusin,\n',
 'todos suean lo que son,\n',
 'aunque ninguno lo entiende.\n']

#### Bytes and Unicode with Files

In [265]:
with open(path) as f:
    chars = f.read(10)

In [266]:
chars

'Suea el r'

In [267]:
with open(path, 'rb') as f:
    data = f.read(10)

In [268]:
data

b'Sue\xc3\xb1a el '

In [270]:
data.decode('utf8')

'Suea el '

In [271]:
data[:4].decode('utf8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [275]:
sink_path = 'sink.txt'

In [273]:
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())

UnicodeEncodeError: 'latin-1' codec can't encode character '\ucc70' in position 3: ordinal not in range(256)

In [276]:
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

In [277]:
f = open(path)

In [278]:
f.read(5)

'Suea'

In [279]:
f.seek(4)

4

In [280]:
f.read(1)

''

In [281]:
f.close()