In [1]:
import numpy as np
import pandas as pd

## 11.1 Date and Time Data Types and Tools

In [2]:
from datetime import datetime
now = datetime.now()

In [3]:
now

datetime.datetime(2022, 4, 6, 19, 23, 36, 676744)

In [4]:
now.year, now.month, now.day

(2022, 4, 6)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
from datetime import timedelta

In [10]:
start = datetime(2011, 1, 7)

In [11]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

In [13]:
stamp = datetime(2011, 1, 3)

In [14]:
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
str(stamp)

'2011-01-03 00:00:00'

In [16]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [17]:
value = '2011-01-03'

In [18]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [22]:
datestrs = ['7/6/2011', '8/6/2011']

In [23]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [24]:
from dateutil.parser import parse

In [25]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [26]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [27]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [28]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [29]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [30]:
idx = pd.to_datetime(datestrs + [None])

In [31]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [32]:
idx[2]

NaT

In [33]:
pd.isnull(idx)

array([False, False,  True])

## 11.2 Time Series Basics

In [34]:
from datetime import datetime

In [36]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [37]:
ts = pd.Series(np.random.randn(6), index=dates)

In [38]:
ts

2011-01-02    0.811260
2011-01-05    0.232788
2011-01-07   -0.022568
2011-01-08    0.990226
2011-01-10   -0.242394
2011-01-12   -0.865945
dtype: float64

In [39]:
ts + ts[::2]

2011-01-02    1.622520
2011-01-05         NaN
2011-01-07   -0.045136
2011-01-08         NaN
2011-01-10   -0.484789
2011-01-12         NaN
dtype: float64

In [40]:
ts.index.dtype

dtype('<M8[ns]')

In [41]:
stamp = ts.index[0]

In [42]:
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [43]:
stamp = ts.index[2]

In [44]:
ts[stamp]

-0.022568144788157746

In [45]:
ts['1/10/2011']

-0.24239430524001182

In [46]:
ts['20110110']

-0.24239430524001182

In [47]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [48]:
longer_ts

2000-01-01    0.144856
2000-01-02   -0.208941
2000-01-03   -1.457914
2000-01-04   -0.430746
2000-01-05    1.546900
                ...
2002-09-22    0.689038
2002-09-23   -0.133191
2002-09-24   -1.108082
2002-09-25    1.035105
2002-09-26   -0.516905
Freq: D, Length: 1000, dtype: float64

In [49]:
longer_ts['2001']

2001-01-01   -0.165267
2001-01-02    0.260260
2001-01-03   -2.182151
2001-01-04    0.166673
2001-01-05   -0.376338
                ...
2001-12-27   -0.622064
2001-12-28   -0.476781
2001-12-29   -0.843414
2001-12-30    0.516667
2001-12-31   -0.502339
Freq: D, Length: 365, dtype: float64

In [51]:
longer_ts['2001-05']

2001-05-01   -0.426226
2001-05-02   -0.907840
2001-05-03    0.477160
2001-05-04    0.269397
2001-05-05    0.355681
2001-05-06    0.113691
2001-05-07    0.466562
2001-05-08    0.524733
2001-05-09    1.813649
2001-05-10   -1.619087
2001-05-11    0.517740
2001-05-12    1.159114
2001-05-13   -1.279331
2001-05-14    0.156331
2001-05-15   -0.718066
2001-05-16   -1.097939
2001-05-17    0.622733
2001-05-18    0.614487
2001-05-19   -1.022746
2001-05-20   -0.634196
2001-05-21   -0.057044
2001-05-22   -1.093419
2001-05-23   -1.855251
2001-05-24    0.574567
2001-05-25    2.001165
2001-05-26   -0.000686
2001-05-27   -1.940944
2001-05-28    0.227782
2001-05-29   -0.663118
2001-05-30    1.323262
2001-05-31   -0.026113
Freq: D, dtype: float64

In [52]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.022568
2011-01-08    0.990226
2011-01-10   -0.242394
2011-01-12   -0.865945
dtype: float64